body{
    background-color: #132043;
}

nav{
    background-color: #30A94A;
    color: white;
    font-size: 20px;
    padding: 10px;
    /* border-radius: 10px; */
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 15% 70% 15%; Define the grid columns */
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 1fr; Ensure a single row */
    /* height: 100vh;  */
    /* align-content: center; */
    /* align-items: center; */
}
  
.side-content {
    /* background-color: aqua; */
    grid-column: 1;
}
  
.center-content {
    /* background-color:#343541; */
    /* grid-column: 2;
    background-color: #343541;
    display: flex;
    justify-content: center; 
    color: "white"; */
    padding: 20px; /* Add padding for content */
    display: grid; /* Make center panel single column */
    grid-template-rows: auto; /* Allow items to stack vertically */
    align-items: center; /* Align content vertically (optional) */
    justify-items: center;
    background-color: #2D3250;
}

#Mark{
    /* margin-top: 100px; */
    position: relative
}
.img{
    position: relative
} 


.overlay {
    position: absolute; /* Position the overlay relative to the center-content */
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(169,169,169, 0.9); /* Semi-transparent black background */
    color: white; /* Optional: Set text color for better readability */
    text-align: center; /* Optional: Center text within the overlay */
  }
  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }